Repository aitchwhy/nixdots: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, test-modules, validate-structure, flake-check

nix-fmt:
  name: Nix Format Check
  entry: nix fmt -- --check
  language: system
  pass_filenames: false

test-modules:
  name: Test Module Evaluation
  entry: ./tests/unit/test-modules.sh
  language: system
  pass_filenames: false

validate-structure:
  name: Validate Directory Structure
  entry: ./tests/lib/validate-structure.sh
  language: system
  pass_filenames: false

flake-check:
  name: Nix Flake Check
  entry: nix flake check --no-build
  language: system
  pass_filenames: false

update
  .claude/settings.local.json
  docs/ARCHITECTURE.md
  lib/imports.nix
Due: nix-fmt, validate-structure

chore: refactor to minimal set nix
  docs/nix-path-management.md
  features/nix.nix
  features/shell.nix
  modules/darwin/default.nix
  modules/home/nix.nix
  modules/home/programs.nix
  modules/shared/defaults.nix
  users/hank.nix
Due: nix-fmt, test-modules, validate-structure

refactor: major simplification of Nix configuration
  .claude/settings.local.json
  MIGRATION_SUMMARY.md
  REORGANIZATION_PLAN.md
  features/shell.nix
  features/users.nix
  flake.nix
  lib/imports.nix
  lib/mkSystem.nix
  modules/SYNC_ISSUE.md
  modules/darwin.nix
  modules/darwin/.DS_Store
  modules/darwin/common
  modules/darwin/default.nix
  modules/darwin/homebrew/brews.nix
  modules/darwin/homebrew/casks.nix
  modules/darwin/homebrew/default.nix
  modules/darwin/homebrew/taps.nix
  modules/home.nix
  modules/home/aliases.nix
  modules/home/default.nix
  modules/home/defaults.nix
  modules/home/gc.nix
  modules/home/git.nix
  modules/home/me.nix
  modules/home/nix-index.nix
  modules/home/nix.nix
  modules/home/programs.nix
  modules/home/shell.nix
  modules/homebrew.nix
  modules/nix.nix
  modules/nixos/default.nix
  modules/shared/options.nix
  users/hank.nix
  users/hank/packages/cloud-infra.nix
  users/hank/packages/data-tools.nix
  users/hank/packages/default.nix
  users/hank/packages/development.nix
  users/hank/packages/media-apps.nix
  users/hank/packages/utilities.nix
Due: nix-fmt, test-modules, validate-structure, flake-check

update
  .claude/settings.local.json
Due: none

cleanup
  CLAUDE.md
  CONSOLIDATION_SUMMARY.md
  MIGRATION.md
  NIX_SETUP_ANALYSIS.md
  docs/ARCHITECTURE.md
  docs/nix-path-management.md
  modules/flake/devshell.nix
  modules/flake/neovim.nix
  modules/flake/toplevel.nix
  modules/home/neovim/default.nix
  modules/home/neovim/nixvim.nix
  modules/shared/defaults.nix
  overlays/default.nix
  pkgs/default.nix
  tests/integration/test-full-build.sh
  tests/lib/helpers.nix
  tests/lib/validate-structure.sh
  tests/test.sh
  tests/unit/test-modules.sh
Due: nix-fmt, test-modules, validate-structure

update
  .claude/settings.local.json
  flake.nix
  modules/darwin.nix
  modules/home.nix
  modules/homebrew.nix
Due: nix-fmt, test-modules, validate-structure, flake-check

update
  modules/home.nix
Due: nix-fmt, test-modules, validate-structure

update
  flake.lock
  flake.nix
  machines/hank-mbp-m4.nix
  modules/darwin.nix
  modules/home.nix
  modules/homebrew.nix
  modules/nix.nix
  users/hank.nix
Due: nix-fmt, test-modules, validate-structure, flake-check

updat
  flake.nix
  modules/darwin.nix
  modules/home.nix
  modules/homebrew.nix
  users/hank.nix
Due: nix-fmt, test-modules, validate-structure, flake-check

update
  .claude/settings.local.json
  NIX_FIX.md
  README.md
  docs/ARCHITECTURE.md
  flake.nix
  lib/default.nix
  lib/mkSystem.nix
  lib/options.nix
  lib/utils.nix
  lib/validators.nix
  modules/core/nix.nix
  modules/darwin.nix
  modules/darwin/apps/activity-monitor.nix
  modules/darwin/apps/safari.nix
  modules/darwin/apps/terminal.nix
  modules/darwin/apps/xcode.nix
  modules/darwin/default.nix
  modules/darwin/system/defaults.nix
  modules/darwin/system/keyboard.nix
  modules/darwin/system/trackpad.nix
  modules/darwin/ui/dock.nix
  modules/darwin/ui/finder.nix
  modules/home.nix
  modules/home/default.nix
  modules/home/editors/neovim.nix
  modules/home/shell/aliases.nix
  modules/home/shell/bash.nix
  modules/home/shell/prompts.nix
  modules/home/shell/zsh.nix
  modules/home/tools/development.nix
  modules/home/tools/git.nix
  modules/home/tools/tmux.nix
  modules/services/homebrew.nix
  scripts/bootstrap.sh
  scripts/health-check.sh
  scripts/recovery.sh
  tests/integration/test-full-build.sh
  tests/lib/validate-structure.sh
  tests/unit/test-modules.sh
  users/hank.nix
Due: nix-fmt, test-modules, validate-structure, flake-check

update
  flake.lock
  flake.nix
  modules/core/nix.nix
  modules/darwin/default.nix
  modules/darwin/system/defaults.nix
  modules/darwin/system/nix-optimizations.nix
  modules/darwin/system/trackpad.nix
  scripts/nix-preflight-cache.sh
Due: nix-fmt, test-modules, validate-structure, flake-check

chore: remove deadnix
  lib/utils.nix
  machines/hank-mbp-m4.nix
  modules/core/nix.nix
  modules/darwin.nix
  modules/darwin/apps/activity-monitor.nix
  modules/darwin/apps/safari.nix
  modules/darwin/apps/terminal.nix
  modules/darwin/apps/xcode.nix
  modules/darwin/system/defaults.nix
  modules/darwin/system/keyboard.nix
  modules/darwin/system/trackpad.nix
  modules/darwin/ui/dock.nix
  modules/darwin/ui/finder.nix
  modules/home.nix
  modules/home/default.nix
  modules/home/editors/neovim.nix
  modules/home/shell/aliases.nix
  modules/home/shell/bash.nix
  modules/home/shell/prompts.nix
  modules/home/shell/zsh.nix
  modules/home/tools/tmux.nix
  users/hank.nix
Due: nix-fmt, test-modules, validate-structure

Path conditions:
  nix-fmt: any of: \.nix$
  test-modules: any of: modules/.*\.nix$
  validate-structure: any of: \.nix$
  flake-check: any of: flake\.nix$|flake\.lock$
